<div class="top-box">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Contact US</h1>
  </div>
</div>

<br />
<br />
<div class="short-des col-10 offset-1 text-center">
  <h3>We love to hear from beautiful people like you who can feel others sorrows, We believe that's what made you different from others.</h3>
</div>

<br />
<br />
 <style>
    html, body {
      height: 60%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
    }
  </style>
 
  
  <script>

    function initMap() {
      var myLatLng = {lat: 32.852370, lng: -96.761290};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRaO7GqD4PttoZqNHYy_KBm6uY6PgWhY8&callback=initMap">
  </script>

  <div id="map"></div>

  <br />
  <br />
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <h2 >Address</h2>
        <br/>
        <ul>
          <li>
            <div class="icon-box">
              <div class="inner">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="content-box">
                <h4> Address</h4>
                <p>
                  6060 Village Bend Dr
                  <br />
                  Dallas, Tx, 75206
                </p>
              </div>
            </li>
            <li>
            <div class="icon-box">
              <div class="inner">
                <i class="fas fa-phone-square-alt"></i>
              </div>
              <div class="content-box">
                <h4> Phone</h4>
                <p>
                  Office: 936 668 9805
                  <br />
                  Mobile: 936 668 9805
                </p>
              </div>
            </li>
            <li>
            <div class="icon-box">
              <div class="inner">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="content-box">
                <h4> Email</h4>
                <p>
                  donateonedollar@gmail.com
                  <br />
                  donateonedollar@gmail.com
                </p>
              </div>
            </li>
        </ul>
      </div>
      <div class="col-sm-8">
        <div class="txt-container">
          <div>
            <h2>Contact Form</h2>
          </div>
                <div class="row">
                  <div class="col-md-6"> 
                    <%= simple_form_for @contact do |f| %>
                      <%= f.input :name, label: false, placeholder: "Full Name" %>
                      <%= f.input :email, label: false, placeholder: "Email" %>
                      <%= f.input :phone_number, label: false, placeholder: "Phone" %>
                      <%= f.input :message, label: false, placeholder: "Message", class: 'col-md-6' %>
                      <%= f.submit 'Send', class: 'btn-primary col-md-2' %>
                      <% end %>
                      </div>
              </div>
            </div>
    </div>
  </div>
  <br />
  
  
