<% @campaigns.each do |campaign| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= campaign.title %></h1>
    <strong><%= campaign.description_short %></strong>
    <p><%= campaign.description_full %></p>
    <strong><%=campaign.goal %></strong>
    <br />
    <strong><%= campaign.raised %></strong>
  </div>

  <hr />
  <% end %>