<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'side1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>They have rights too..!!</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'side2.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Why don't they deserve better..?</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'side3.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Let make them feel that they live..!!</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @campaigns.each do |campaign| %>
  <div class="booyah-box col-10 offset-1">

    <h1><%= link_to campaign.title, campaign_path(campaign) %></h1><br />
    <h3><strong><%= campaign.description_short %></strong></h3>
    <p><i><%= campaign.description_full %></i></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
    <div class="container-fluid">
      <div class="row mx-auto">
        <div class="float-left" >
          <span class="border border-primary">
            <strong> Goal: <%=campaign.goal %></strong>
          </span>
         </div>
       <div class="float-sm-right">
        <span class="border border-primary">
          <strong>Raised: <%= campaign.raised %></strong>
        </span>
       </div>
      </div>
    </div>
     <%= link_to 'Learn more..', campaign_path(campaign), class: 'btn btn-info float-right' %>
  </div>
  <hr />
  <% end %>

  <div class="col-10 offset-1 text-center">
    <%= link_to 'DONATE NOW', new_donate_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>



        