<div class="top-box">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1><%= @campaign.title %></h1>
  </div>
</div>

<div class="booyah-box img-fluid col-10 offset-1 col-sm-8 offset-sm-2">
<%= image_tag @campaign.picture.url %>
</div>
<div class="booyah-box">
  <h4><strong><span class="badge badge-danger">Goal:</span></strong></h4><strong><%= @campaign.goal %></strong>
  <h4><strong><span class="badge badge-success">Raised:</span></strong></h4><strong><%= @campaign.raised %></strong>
  
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="<%= @cal %>" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>

<div class="booyah-box text-justify">
  <h2><b><%= @campaign.description_short %></b></h2>
  <br />
  <p><%= @campaign.description_full %></p>
</div>
<div class="col-10 offset-1 text-center">
    <%= link_to 'DONATE NOW', new_donate_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
