<!DOCTYPE html>
<html>
  <head>
    <title>Donateonedollar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'DonateOneDollar', root_path, class: 'navbar-brand' %>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %> 
            </li>
            <li class="nav-item">
              <%= link_to 'Who Are We', pages_path, class: 'nav-link' %> 
            </li>
            <li class="nav-item">
              <%= link_to 'Gallery', galleries_path, class: 'nav-link' %> 
            </li>
            <li class="nav-item nav nav-pills nav-justified">
              <%= link_to 'Donate Now', new_donate_path, class: 'nav-link active' %> 
            </li>
            <li class="nav-item">
              <%= link_to 'Contact Us', new_contact_path, class: 'nav-link' %> 
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'New', new_campaign_path, class: 'nav-link float-right '  %> 
            </li>
            <% end %>
          </ul>
          <div class="float-right">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up!', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      </div>
      </nav>
      
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

    <%= yield %>
     <%= insert_paloma_hook %>

    <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3">
        <b>DonateOneDollar</b>
        
        <p> 6060 Village Bend Dr, Dallas Tx-75206'</p>
    
        <p> +19366689805</p>
       
        <p> info@donateonedollar.com</p>
      </div>
      <div class="col-12 col-sm-3">
        <b>Footer Menu</b>
        <br />
        <%= link_to 'Who We Are', pages_path %>
        <br />
        <%= link_to 'Gallery', galleries_path %>
        <br />
        <%= link_to 'Our Campaigns', root_path %>
        <br />
        <%= link_to 'Contact Us', new_contact_path %>
      </div>
      <div class="col-12 col-sm-3">
        <b>Contact</b>
        <br />
        mamw.muthu@gmail.com
        <br />
        Dallas TX, 75206
      </div>
      <div class="col-12 col-sm-3 social">
        <b>Social</b>
        <br />
        <br />
        <%= link_to 'http://github.com/herangakr' do %>
        <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.facebook.com/TwistWithATastefans' do %>
        <span class="fa fa-facebook-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.youtube.com/c/TwistWithATaste' do %>
        <span class="fa fa-youtube-square fa-2x social-button"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

     
  </body>
</html>
